<div class="bg-pink bg-height">
    <div class="container pt-5 d-flex">
        <div class="items-left">
            <h2 class="text-white"><%= @centre.name %></h2>
            <%= image_tag 'workshop.jpeg' %>
        </div>
        <div class="items-right">
            <p><small><%= @centre.location %></small></p>
            <p> lorem ipsum </p>
        </div>
    </div>
</div>