.body {
    color: #323339;
}
.bg-height {
    height: 100vh;
}
.text-white {
    color: white;
}
.navbar {
    margin: 8px 32px;
    
}
.nav-item  {    
    color: #323339;
    font-weight: bold;
}
.nav-link:hover {
    color: #323339;
}
.jumbotron {
    background: image-url("spine.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}
.h1 {
    color: #323339;
}

.h3 {
    font-weight: bold;
    color: #323339;
}

.card {
    margin-top: 16px;
    max-width: 400px;
    margin-right: 16px;
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.md-form {
    margin: auto;
    width: 70%;
}

.bg-pink {
    background-color: #F2AD9F;
}

.img-big {
    width: 500px;
    margin-bottom: 20px;
}