<div class="bg-pink bg-height">
    <div class="container pt-5 d-flex justify-content-between">
        <div class="items-left">
            <h2 class="text-white">My Page</h2>
            
            <p class="text-white">Upcoming workshops</p>
                <% @my_workshops.each do |workshop| %>
                    <%= link_to workshop_path(workshop) do %>
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                <%= image_tag "workshop.jpeg", class:'card-img' %>
                                </div>
                                <div class="col-md-7">
                                <div class="card-body">
                                    <h5 class="card-title"><% workshop.title %></h5>
                                    <p class="card-text">DESCRIPTION HERE</p>
                                    <p class="card-text"><small class="text-muted"><% workshop.centre.location %></small></p>
                                </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            <%= link_to 'Edit account details', edit_user_registration_path %>
        </div>
    </div>
</div>